<% layout('layout') %>


  <div>
  <table>
    <tr>
      <th>Draft Slot</th><th>Drafter Name</th><th>Drafter Join Link</th>
      <th colspan="2">Invitation</th>
    </tr>
  </thead>
  <tbody>
  <% for (var j = 0; j < drafters.length; ++j) { %>
  <%   var drafter = drafters[j]; %>
    <tr>
      <td><%= drafter.slot %></td>
      <td><%= drafter.name %></td>
      <td><a href="<%= drafter.joinId %>"><%= drafter.joinId %></a></td>
      <td><input type="email" value="<%= drafter.email || '' %>" placeholder="Enter an invitation email here" /></td>
      <td><button>Send Invitation</button></td>
    </tr>
  <% } %>
  </tbody>
  </table>

  <form action="/admin" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" />
    <input type="submit" value="Add Drafter" />
  </form>

  </div>
